# 源
registry=https://registry.npm.taobao.org/

# 强制使用package.json中engines字段中的node、npm、pnpm版本
engine-strict = true

# 自动安装peerDeps
auto-install-peers=true

# 依赖安装时会以exact版本保存到package.json中，不会携带^标志
save-exact=true