@charset "UTF-8";
// 通用助手样式
.u-tal {
  text-align: left !important;
}

.u-tac {
  text-align: center !important;
}

.u-tar {
  text-align: right !important;
}

.u-rtl {
  direction: rtl !important;
}

.u-twrap {
  @extend %text-wrap;
}

.u-cbrand {
  color: $brand-primary !important;
}

.u-cminor {
  color: $brand-minor !important;
}

.u-cwarn {
  color: $theme-warning !important;
}

.u-cdanger {
  color: $theme-danger !important;
}
