.c-BasePdfViewer {
  position: relative;
  z-index: 1;

  padding: 10px;

  background-color: #414141;
}

.c-BasePdfViewer-main {
}

.c-BasePdfViewer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transform: translate3d(-50%, -50%, 0);
}

.c-BasePdfViewer-text {
  color: #fff;
  text-align: center;
}

.c-PDFViewerWp {
}

.c-PDFViewer .page {
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
}

.c-PDFViewer .page + .page {
  margin-top: 10px;
}
