.c-BasePdfViewer {
  display: flex;
  flex-direction: column;

  height: 100%;

  overflow: hidden;

  background-color: #414141;
}

.c-BasePdfViewer-hd {
  flex: 0 0 auto;
}

.c-BasePdfViewer-main {
  position: relative;
  z-index: 1;

  flex: 1 1 auto;

  padding: 10px;
  overflow: hidden;
}

.c-BasePdfViewer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transform: translate3d(-50%, -50%, 0);
}

.c-BasePdfViewer-text {
  color: #fff;
  text-align: center;
}

.c-BasePdfViewer-opt {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.c-PDFViewerWp {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-PDFViewerWp.grab-to-pan-grab {
  cursor: grab;
}

.c-PDFViewer .page {
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;

  will-change: width, height;
}

.c-PDFViewer .page + .page {
  margin-top: 10px;
}

.c-ToolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;

  color: #fff;
  font-size: 16px;

  background-color: #323639;
}

.c-ToolBar-main {
  flex: 1 1 auto;
  min-width: 0;
}

.c-ToolBar-side {
  flex: 0 0 auto;
}

.c-ToolBar-main + .c-ToolBar-side {
  margin-left: 10px;
}

.c-FileName {
  margin: 0;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  text-align: left;
  text-overflow: ellipsis;
}

.c-Opt {
  display: flex;
  align-items: center;
}

.c-Opt-item {
  min-width: 1em;
  padding-right: 0.4em;
  padding-left: 0.4em;

  text-align: center;

  cursor: pointer;
}

.c-Icon {
  display: inline-block;

  font-weight: bold;
  font-size: 16px;

  user-select: none;
}
