.c-BasePdfViewer {
  position: relative;
  z-index: 1;

  height: 100%;

  padding: 10px;
  overflow: hidden;

  background-color: #414141;
}

.c-BasePdfViewer-main {
  height: 100%;
  overflow: hidden;
}

.c-BasePdfViewer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transform: translate3d(-50%, -50%, 0);
}

.c-BasePdfViewer-text {
  color: #fff;
  text-align: center;
}

.c-BasePdfViewer-opt {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.c-PDFViewerWp {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-PDFViewerWp.grab-to-pan-grab {
  cursor: grab;
}

.c-PDFViewer .page {
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;

  will-change: width, height;
}

.c-PDFViewer .page + .page {
  margin-top: 10px;
}
