@charset "UTF-8";

// input[type="text"]、input[type="password"]、select、textarea
.c-Field {
  display: block;
  width: 100%;
  height: 2em;
  padding: 0 0.8em;

  line-height: 2em;

  border: 1px solid $border-color;

  transition: all 0.3s ease-in-out;
  @at-root #{&}--radius {
    border-radius: 3px;
  }
  @at-root input#{&} {
    // select如果noAppearance，chrome上会没有右侧箭头，所以只对input生效
    @extend %noAppearance;
  }
  @at-root #{&}:focus {
    // 聚焦阴影
    border-color: $brand-primary;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba($brand-primary, 0.6);
  }
  @at-root textarea#{&} {
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;

    line-height: inherit;
    word-wrap: break-word;
    word-break: break-all;

    resize: none;
  }
  @at-root select[multiple]#{&} {
    min-height: 6em;
  }
}

// input[type="file"]、radio、checkbox是无法使用伪元素的(chrome上可能是个bug)，所以折中使用添加标签的形式来模拟
.c-File {
  @include inline-block();
  position: relative;

  cursor: pointer;
  input[type='file'] {
    display: none;
  }
}

.c-Radio {
  @include inline-block();
  position: relative;

  cursor: pointer;
  input[type='radio'] {
    // 隐藏原先radio
    display: none;
    @at-root #{&}:checked ~ .c-Radio-icon:before {
      // 选择所有前面有input[type="radio"]:checked的.c-Radio-icon:before
      opacity: 1;
    }
    @at-root #{&}[disabled] ~ .c-Radio-icon:after {
      // radio禁用，置灰
      border-color: $border-color;
    }
    @at-root #{&}[disabled] ~ .c-Radio-icon:before {
      // radio禁用，置灰
      background-color: $border-color;
    }
  }
  @at-root #{&}-icon {
    @include inline-block(-0.2em);
    position: relative;

    width: 1em;
    height: 1em;
    overflow: hidden;
    // 防止在.c-Radio-icon中有文本
    text-indent: -9999em;
    @at-root #{&}:after {
      position: absolute;
      top: 50%;
      right: 0;

      display: block;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;

      background-color: transparent;
      border: 1px solid $brand-primary;
      border-radius: 50%;
      // 外环
      content: '';
    }
    @at-root #{&}:before {
      position: absolute;
      top: 50%;
      right: 0.25em;

      display: block;
      width: 0.5em;
      height: 0.5em;
      margin-top: -0.25em;

      background-color: $brand-primary;
      border-radius: 50%;
      opacity: 0;

      transition: opacity 0.3s ease-in-out;
      // 内圆
      content: '';
    }
  }
}

.c-Checkbox {
  @include inline-block();
  position: relative;

  cursor: pointer;
  input[type='checkbox'] {
    // 隐藏原先checkbox
    display: none;
    @at-root #{&}:checked ~ .c-Checkbox-icon:before {
      // 选择所有前面有input[type="checkbox"]:checked的.c-Checkbox-icon:before
      opacity: 1;
    }
    @at-root #{&}[disabled] ~ .c-Checkbox-icon:after {
      // radio禁用，置灰
      border-color: $border-color;
    }
    @at-root #{&}[disabled] ~ .c-Checkbox-icon:before {
      // radio禁用，置灰
      color: $border-color;
    }
  }
  @at-root #{&}-icon {
    @include inline-block(-0.2em);
    position: relative;

    width: 1em;
    height: 1em;
    overflow: hidden;
    // 防止在.c-Checkbox-icon中有文本
    text-indent: -9999em;
    @at-root #{&}:after {
      position: absolute;
      top: 50%;
      right: 0;

      display: block;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;

      background-color: transparent;
      border: 1px solid $brand-primary;
      // 外环
      content: '';
    }
    @at-root #{&}:before {
      position: absolute;
      top: 50%;
      right: 0.25em;

      display: block;
      width: 0.5em;
      height: 0.5em;
      margin-top: -0.25em;

      color: $brand-primary;
      font-size: 0.875em;
      font-family: $font-sans-serif;
      // 去除i标签自带的倾斜效果
      font-style: normal;
      line-height: 0.5em;
      text-align: center;
      // 重写父元素上继承来的text-indent
      text-indent: -0.2em;
      text-indent: -0.3em \9; // ie

      opacity: 0;

      transition: opacity 0.3s ease-in-out;
      // 内圆
      content: '\2713';
    }
  }
}
